<aside class="bg-dark lter aside-md hidden-print" id="nav">          
          <section class="vbox">
            <header class="header bg-primary lter text-center clearfix">
              <div class="btn-group">
                <!-- <button type="button" class="btn btn-sm btn-dark btn-icon" title="New project"><i class="fa fa-plus"></i></button> -->
                <div class="btn-group hidden-nav-xs">
                  <!-- <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"> -->
                    Student Portal
                    <!-- <span class="caret"></span> -->
                  <!-- </button> -->
                <!--   <ul class="dropdown-menu text-left">
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Another Project</a></li>
                    <li><a href="#">More Projects</a></li>
                  </ul> -->
                </div>
              </div>
            </header>
            <section class="w-f scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                  <ul class="nav">
                    <li  class="active">
                      <a href="<?= $this->Url->build(['controller' => 'Pages','action' => 'home']);?>"   class="active">
                        <i class="fa fa-dashboard icon">
                          <b class="bg-danger"></b>
                        </i>
                        <span>Dashboard</span>
                      </a>
                    </li>
                  

                    <li >
                      <a href="#layout"  >
                        <i class="fa fa-graduation-cap icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Grades</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Grades','action' => 'index']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>All Grades</span>
                          </a>
                        </li>
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Grades','action' => 'add']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Create A New Grades</span>
                          </a>
                        </li>
                       
                      </ul>
                    </li>
                        <li >
                      <a href="#layout"  >
                        <i class="fa fa-columns icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Sub Grades</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'SubGrades','action' => 'index']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>All Sub Grades</span>
                          </a>
                        </li>
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'SubGrades','action' => 'add']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Create A New Sub Grades</span>
                          </a>
                        </li>
                       
                      </ul>
                    </li>



<!-- ----------------------------------------------end Grades------------------------------------------------------------------  -->

                    <li >
                      <a href="#layout"  >
                        <i class="fa fa-columns icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Subjects</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Subjects','action' => 'index']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>All Subjects</span>
                          </a>
                        </li>
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Subjects','action' => 'add']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Add a New Subject</span>
                          </a>
                        </li>
                       
                      </ul>
                    </li>


                      <li >
                      <a href="<?= $this->Url->build(['controller' => 'Students','action' => 'index']);?>"  >
                        <i class="fa fa-users icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Students</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Students','action' => 'index']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>All Students</span>
                          </a>
                        </li>
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Students','action' => 'add']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Create A New Student</span>
                          </a>
                        </li>
                       
                      </ul>
                    </li>

                    <!-- -----------------------------------------------start Grades--------------------------------------------------------- -->
                    <li >
                      <a href="#layout"  >
                        <i class="fa fa-address-book-o icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Marks</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Marks','action' => 'index']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>All Marks</span>
                          </a>
                        </li>
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Marks','action' => 'add']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Add Marks</span>
                          </a>
                        </li>
                       
                      </ul>
                    </li>

                    <li >
                      <a href="#layout"  >
                        <i class="fa fa-user-circle-o icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Users</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Users','action' => 'index']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Users</span>
                          </a>
                        </li>
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'Users','action' => 'add']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Create A New User</span>
                          </a>
                        </li>
                       
                      </ul>
                    </li>

                    <li >
                      <a href="#layout"  >
                        <i class="fa fa-user-o icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>User Types</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'UserTypes','action' => 'index']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>User Types</span>
                          </a>
                        </li>
                        <li >
                          <a href="<?= $this->Url->build(['controller' => 'UserTypes','action' => 'add']);?>" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Create A New User Type</span>
                          </a>
                        </li>
                       
                      </ul>
                    </li>

                 <br/>
                 <br/>
                 <br/><br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
     
                </nav>
             <!--    / <!-- nav --> 
              </div>
            </section>
            
            <footer class="footer lt hidden-xs b-t b-dark">
              <div id="chat" class="dropup">
                <section class="dropdown-menu on aside-md m-l-n">
                  <section class="panel bg-white">
                    <header class="panel-heading b-b b-light">Active chats</header>
                    <div class="panel-body animated fadeInRight">
                      <p class="text-sm">No active chats.</p>
                      <p><a href="#" class="btn btn-sm btn-default">Start a chat</a></p>
                    </div>
                  </section>
                </section>
              </div>
              <div id="invite" class="dropup">                
                <section class="dropdown-menu on aside-md m-l-n">
                  <section class="panel bg-white">
                    <header class="panel-heading b-b b-light">
                      John <i class="fa fa-circle text-success"></i>
                    </header>
                    <div class="panel-body animated fadeInRight">
                      <p class="text-sm">No contacts in your lists.</p>
                      <p><a href="#" class="btn btn-sm btn-facebook"><i class="fa fa-fw fa-facebook"></i> Invite from Facebook</a></p>
                    </div>
                  </section>
                </section>
              </div>
              <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
                <i class="fa fa-angle-left text"></i>
                <i class="fa fa-angle-right text-active"></i>
              </a>
              <div class="btn-group hidden-nav-xs">
                <button type="button" title="Chats" class="btn btn-icon btn-sm btn-dark" data-toggle="dropdown" data-target="#chat"><i class="fa fa-comment-o"></i></button>
                <button type="button" title="Contacts" class="btn btn-icon btn-sm btn-dark" data-toggle="dropdown" data-target="#invite"><i class="fa fa-facebook"></i></button>
              </div>
            </footer>
          </section>
        </aside>