<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Log'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="logs index large-9 medium-8 columns content">
    <h3><?= __('Logs') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('log_id') ?></th>
                <th><?= $this->Paginator->sort('generated_by_user_id') ?></th>
                <th><?= $this->Paginator->sort('generated_by_user_type_id') ?></th>
                <th><?= $this->Paginator->sort('created') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($logs as $log): ?>
            <tr>
                <td><?= $this->Number->format($log->log_id) ?></td>
                <td><?= $this->Number->format($log->generated_by_user_id) ?></td>
                <td><?= $this->Number->format($log->generated_by_user_type_id) ?></td>
                <td><?= h($log->created) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $log->log_id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $log->log_id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $log->log_id], ['confirm' => __('Are you sure you want to delete # {0}?', $log->log_id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
